html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  margin: 0.75rem 0;
}

p {
  margin: 0.5rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
  max-width: 38rem;
  margin: auto;
  background-color: #99c1ce;
  color: white;
}
.wrapper textarea {
  border: none;
  border-radius: 15px;
  padding: 15px;
  margin: 1.5rem 0;
}
.wrapper textarea:focus {
  outline: 4px solid rgba(153, 193, 206, 0.5);
  outline-offset: -6px;
}
.wrapper .image-between {
  width: 50px;
  align-self: center;
  margin: 0rem;
}
.wrapper .play-sound {
  background-color: white;
  padding: 0.75rem;
  border-radius: 15px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #99c1ce;
}
